
.Home
{
    height: 100vh;
}

.Home .pCase
{
    text-transform: uppercase;
}

.Hero-Img
{
    height: 35rem;
    border-radius:0  10% 5% 20%;
    margin:0 2rem;
    transition:0.5s;
}

.Hero-Img:hover
{
    border-radius:0  5% 0% 10%;

}

.Info
{
    height: 100%;
}

.Home p
{
    font-size: 1.1rem;
    font-weight: lighter;
    text-align: justify;
    width: 80%;
    font-family: 'roboto',sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.1rem;
}
