
.Landing .bg
{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* padding-bottom: 5rem; */
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-tmall-double-12-super-deal-poster-png_180286.jpg");
    filter: brightness(0.3);
    /* opacity: 0.2; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Search-Section, .Explore-More
{
    z-index:1;
}

.Search-Section
{
    background-color: transparent;
}

.Landing h1
{
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:6rem;
    letter-spacing: 1rem;
}

.Search-Wrapper
{
    width:100%;
    overflow: hidden;
}

.Search-Wrapper>div
{
    margin: auto;
    width: 50%;
    background-color: white;
    border-radius:5rem;
    overflow: hidden;
    transition:width 0.5s ease;
}

.Search-Wrapper input
{
    width: 100%;
    height: 5rem;
    font-size:1.5rem;
    padding:0 2.5rem;
    color:var(--main-theme-text-col);
    border:none;
}

.Search-Wrapper input:focus
{
    outline:none;
}

.Landing a
{
    cursor: pointer;
}

.Search-Wrapper .Search-Icon
{
    color:var(--main-theme-text-col);
    font-size:2rem;
    margin:0 2rem;
}

.Landing .theme-button
{
    font-size:1.5rem;
}

.Explore-More .More-Info h3
{
    font-size: 2rem;
    color:var(--main-theme-text-col);
    margin-top:2rem;
}

.Landing p 
{
    font-size:1.3rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.Outline-Info
{
    width: 100%;
}


@media screen and (max-width:800px) {
    .Search-Wrapper>div
    {
        width: 90%;
        flex-direction: row;
    }
}



